/*GENERAL*/
/*GENERAL*/
/*GENERAL*/
/*GENERAL*/

main {
    height: 100vh;
    overflow: hidden;
}

.has-error {
	color:#ff0000 !important;
}

.has-success {
	color:#78b310 !important;
}

.has-error input {
	border:1px solid red !important;
}

.has-success input {
	border:1px solid #78b310 !important;
}

.message_success {
	background-color: #78b310; 
	color: #fff;
	padding: 5px;
	border-radius: 6px 6px 0px 0px;
}

.message_error {
	background-color: #e74c3c; 
	color: #fff;
	padding: 5px;
	border-radius: 6px 6px 0px 0px;
}

/*LOGIN PAGE */
/*LOGIN PAGE */
/*LOGIN PAGE */
/*LOGIN PAGE */

.logIn, .forgotPassword {
     background: url(../_img/rexel.png);
     height: 100vh;
     background-repeat: no-repeat;
     background-size: 120%;
     font-family: "Dosis", sans-serif;
 }

.log, .login-form {
    width: 500px;
    position: fixed;
    top: 50%;
    margin-top: -225px;
    left: 50%;
    margin-left: -250px;
    background: rgba(255,255,255,0.50);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.50);
    border-radius: 15px 15px 0px 15px;
}

.log__title, .forgotPassword .text-center {
    font-family: "Dosis";
    font-weight: 500;
    font-size: 33px;
    color: #000000;
    line-height: 42px;
    text-align: center;
    margin-top: 20px;
}

.message-center {
    font-family: "Dosis";
    font-weight: 500;
    font-size: 23px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    margin-top: 0px;
}


.log form, .login-form form {
    width: 302px;
    margin: 0 auto;
}

.log input[type=email], .log input[type=password], .forgotPassword input[type=email] {
    background: #fff;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 3px;
    width: 247px;
    height: 36px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #4A4A4A;
    line-height: 21px;
    padding-left: 50px;
    outline: none;
}

.log input[name=email], .forgotPassword input[type=email] {
    margin-top: 50px;
    background: #fff;
    background-image: url("../_img/id.svg");
    background-repeat: no-repeat;
}

.log input[name=password] {
    margin-top: 20px;
    background: #fff;
    background-image: url("../_img/password.svg");
    background-repeat: no-repeat;
}

.log form a {
    font-size: 12px;
    font-weight: 100;
    color: #0D4997;
    margin: 9px 0px;
}

.log__language {
    margin-top: 20px;
    margin-bottom: 70px;
}

.switch label span {
    font-family: "Dosis", sans-serif;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { 
    background: url(../_img/switch.gif) repeat-x;
    display: block;
    float: left;
}

.cb-enable span, .cb-disable span { 
    line-height: 30px;
    display: block;
    background-repeat: no-repeat; 
    font-weight: 400; 
}

.cb-enable span { 
    background-position: left -90px; 
    text-align: center;
    width: 150px;
}

.cb-disable span { 
    background-position: right -180px;
    text-align: center;
    width: 150px;
}

.cb-disable.selected { 
    background-position: 0 -30px; 
}

.cb-disable.selected span { 
    background-position: right -210px; 
    color: #fff;
}

.cb-enable.selected { 
    background-position: 0 -60px; 
}

.cb-enable.selected span { 
    background-position: left -150px; 
    color: #fff; 
}

.switch label { 
    cursor: pointer; 
}

.switch input { 
    display: none; 
}

.log button, .login-form button {
    margin-top: 30px;
    margin-bottom: 50px;
    background: #FF8627;
    border-radius: 6px;
    width: 300px;
    height: 36px;
    border: 1px solid #FF8627;
    outline: none;
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #0B0B0B;
    line-height: 17px;
}

.log button:hover, .login-form button:hover {
    background: transparent;
}

.annulForgot {
    margin: 0 auto;
    width: 300px;
}

.annulForgot button {
    margin-top: 0;
}



/*HOME*/
/*HOME*/
/*HOME*/
/*HOME*/

.home {
    background: url(../_img/rexel.png);
    height: 100vh;
    background-size: 100%;
    background-position: 0px -40%;
    background-repeat: no-repeat;
    font-family: "Dosis", sans-serif;
 }

.container {
    height: 90%;
    width: 100%;
    background: #fff;
}







